GOOGLE_OAUTH_CLIENT_SECRET_FILE=credentials/client_secret_510506868826-cupbrknc6cf46d8psb02t4n5s0mjp4q7.apps.googleusercontent.com.json
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:8000/auth/google/callback
JWT_SECRET_KEY=replace-this-with-a-long-random-string
GCP_PROJECT_ID=agentic-ai-dk3480
BQ_DATASET_USERS=social_content_agent
GCS_BUCKET_NAME=social-content-agent-assets
FRONTEND_URL=http://localhost:3000
OAUTHLIB_INSECURE_TRANSPORT=1
